$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// set some vars
$color-primary: #8ed0e7;
$color-secondary: #f7c14b;
$color-dark: #2a2a32;
$color-light: #aaa;
$vert-spacing-size: 3rem;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* global */

// bring some nice meteorological iconography to the table
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('/fonts/meteocons-webfont.eot');
    src: url('/fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/meteocons-webfont.woff') format('woff'),
         url('/fonts/meteocons-webfont.ttf') format('truetype'),
         url('/fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}

body {
  background-color: $color-dark;
  color: $color-light;
  font-family: 'Muli', 'Century Gothic', sans-serif;
  font-style: normal;
  a {
    text-decoration: underline;
    color: $color-light;
  }
  .main {
    padding: $vert-spacing-size 10%;
  }
}

/* header section */

body > header {
  text-align: center;
  #logo-main {
    max-width: 193px;
    margin-bottom: $vert-spacing-size;
  }
  #city {
    color: $color-primary;
  }

}
/* forecast section */

#forecast {
  background-color: #fff;
  color: #222;
  text-align: center;
  #forecast-table {
    margin: 0 auto;
    .meteocon {
      font-size: 3rem;
    }
  }
}

/* sms section */

#sms {
  text-align: center;
  #sms-form {
    input {
      display: block;
      margin: 0 auto;
    }
  }
}

/* footer section */

body > footer {
  text-align: center;
  #logo-sub {
    max-width: 98px;
  }
}