$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// set some vars
$color-primary: #8ed0e7;
$color-secondary: #f7c14b;
$color-dark: #2a2a32;
$color-light: #9b9ea7;
$vert-spacing-size: 3rem;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* global */

// bring some nice meteorological iconography to the table
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('/fonts/meteocons-webfont.eot');
    src: url('/fonts/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/meteocons-webfont.woff') format('woff'),
         url('/fonts/meteocons-webfont.ttf') format('truetype'),
         url('/fonts/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
[data-icon]:before {
  font-family: 'MeteoconsRegular';
  content: attr(data-icon);
}

body {
  background-color: $color-dark;
  color: $color-light;
  font-family: 'Muli', 'Century Gothic', sans-serif;
  font-style: normal;
  a {
    text-decoration: underline;
    color: $color-light;
    &:visited {
      color: $color-light;
    }
  }
  .main {
    padding: $vert-spacing-size 10%;
  }
  form {
    input.form-control, button[type=submit] {
      max-width: 340px;
      margin: auto;
      height: auto;
      border-radius: 0;
      font-size: 2rem;
      width: 100%;
    }
  }
}

/* header section */

body > header {
  text-align: center;
  #logo-main {
    max-width: 193px;
    margin-bottom: $vert-spacing-size;
  }
  #city {
    color: $color-primary;
    font-size: 3rem;
  }
  #location-found, #location-needed {
    display: none;
  }

}
/* forecast section */

#forecast {
  background-color: #fff;
  color: $color-light;
  text-align: center;
  h1 {
    color: $color-primary;
    font-size: 7rem;
    margin: 0;
    line-height: 0.9;
  }
  h2 {
    font-size: 3rem;
    margin-top: 0;
    line-height: 0.9;
  }
  #forecast-table {
    font-size: 2rem;
    margin-top: 3rem;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    th {
      color: $color-dark;
    }
    tbody td {

    }
    tbody td, thead th {
      text-align: center;
      // override bootstrap borders
      border-top: none;
      border-right: 1px solid lighten($color-light, 25%);
      &:first-child {
        border-left: 1px solid lighten($color-light, 25%);
      }
    }
    tfoot > tr > td {
      border: none;
    }
    @media screen and (min-width: 640px) {
        .meteocon {
          font-size: 5rem;
        }
    }
  }
}

/* sms section */

#sms {
  text-align: center;
  #sms-form {
    input {
      display: block;
      margin: 0 auto;
    }
  }
}

/* footer section */

body > footer {
  margin-top: 10rem;
  text-align: center;
  #logo-sub {
    max-width: 98px;
  }
}